@using CMS.Main.Components.Utilities
<NavLink href="@Href"
         class="@($"flex items-center gap-2 p-2 min-h-10 text-sm font-medium rounded-full text-neutral-100 ring-0 ring-purple-500/0 hover:bg-gradient-to-tl hover:from-purple-500/20 hover:to-transparent hover:ring-1 hover:ring-purple-500/40 transition-all duration-300 {Class} w-full")"
         ActiveClass="bg-gradient-to-tl from-purple-500/20 to-transparent ring-1 ring-purple-500/40"
         Match="@Match">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <Icon Name="@Icon" />
        @if (ChildContent != null)
        {
            <span class="whitespace-nowrap">@ChildContent</span>
        }
    }
    else if (ChildContent != null)
    {
        <span class="whitespace-nowrap px-2">@ChildContent</span>
    }
</NavLink>

@code {

    [Parameter]
    [EditorRequired]
    public string Href { get; set; } = default!;

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Class { get; set; } = "";
}