@rendermode InteractiveServer
@inject IJSRuntime Js
@inject ConfirmationService ConfirmationService

@if (ConfirmationService.IsOpen)
{
    <div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 backdrop-blur opacity-100"
         aria-modal="true" role="dialog" tabindex="-1" @onkeydown="HandleKeyDown">
        <div
            class="rounded-lg border border-slate-200 bg-white shadow-lg p-4 max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl w-full mx-4 overflow-auto max-h-screen">
            <div class="mb-2 flex items-center gap-2">
                <span class="material-symbols-outlined icons-default text-blue-600 text-xl"
                      aria-hidden="true">help</span>
                <h2 class="text-lg font-medium text-slate-900">@ConfirmationService.CurrentRequest?.Title</h2>
            </div>
            <div class="text-sm text-slate-700 mb-4">@ConfirmationService.CurrentRequest?.Message</div>
            <div class="flex gap-2 justify-end">
                <button
                    class="inline-flex items-center justify-center rounded-md font-medium text-sm px-3 py-2 bg-slate-200 text-slate-900 hover:bg-slate-300 focus:ring-2 focus:ring-blue-500"
                    @onclick="OnCancelClicked" aria-label="@ConfirmationService.CurrentRequest?.CancelText">
                    <span class="material-symbols-outlined icons-default text-base mr-1" aria-hidden="true">close</span>
                    @ConfirmationService.CurrentRequest?.CancelText
                </button>
                <button
                    class="inline-flex items-center justify-center rounded-md font-medium text-sm px-3 py-2 bg-blue-600 text-white hover:bg-blue-700 focus:ring-2 focus:ring-blue-500"
                    @onclick="OnConfirmClicked" aria-label="@ConfirmationService.CurrentRequest?.ConfirmText">
                    <span class="material-symbols-outlined icons-default text-base mr-1"
                          aria-hidden="true">check_circle</span>
                    @ConfirmationService.CurrentRequest?.ConfirmText
                </button>
            </div>
        </div>
    </div>
}

@code {

    protected override void OnInitialized()
    {
        ConfirmationService.OnStateChanged += () => InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (ConfirmationService.IsOpen)
        {
            await Js.InvokeVoidAsync("eval", "setTimeout(()=>document.querySelector('[role=dialog]').focus(),0)");
        }
    }

    private void OnConfirmClicked()
    {
        ConfirmationService.Confirm();
    }

    private void OnCancelClicked()
    {
        ConfirmationService.Cancel();
    }

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        if (!ConfirmationService.IsOpen) return;
        if (e.Key == "Escape")
        {
            OnCancelClicked();
        }
    }

}
